
h3{
    text-align: center;
}
.whole-content{
    height: 100%;
    width: 1000px;
    background-color:burlywood;
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 10%;
}

.main-title{
    text-align: center;
    
}

.agr-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px black solid;
    border-radius: 10%;
    filter: drop-shadow(6px 6px 6px black)
}

li{
    padding: 5px;
}

.title-about{
    margin-top: 10px;
    clear: both;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    h2{
        text-align: center;
    }

    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  footer{
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
@media (max-height: 600px){
    table{
        visibility: hidden;
    }
}